.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#272aec, #7c68f1);
    
}
.botoes{
    flex-direction: row;
}
